*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#wrapper{
    display: flex;
    flex: 1;
}   

header{
    background-color: lightskyblue;
    padding: 1%;
}

.titulo {
    font-family: montserrat, sans-serif;
    color: rgb(0, 76, 123);
}

aside{
    background-color: lightgray;
    padding: 0;
}

aside ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

aside li {
    width: 100%;
}

aside li a {
    display: block; 
    padding: 3vh 2vw; 
    text-decoration: none;
    color: inherit;
    width: 100%;
    box-sizing: border-box;
}

aside li:hover {
    background-color: darkgray;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    padding: 3%;
}

footer {
    background-color: black;
    color: white;
}